<div id="container">
  <div class="gallery-container w-2 h-2">
    <div class="gallery-item">
      <div class="image">
        <img src="assets/photos/nature/paavolan_tammi.jpg" alt="Nature" />
      </div>
      <div class="text">Nature</div>
    </div>
  </div>

  <div class="gallery-container w-2 h-2">
    <div class="gallery-item">
      <div class="image">
        <img
          src="assets/photos/real-estate/harjunsalontie_1.jpg"
          alt="Real estate"
        />
      </div>
      <div class="text">Real estate</div>
    </div>
  </div>

  <div class="gallery-container w-2 h-2">
    <div class="gallery-item">
      <div class="image">
        <img
          src="assets/photos/cityscapes/foggy_evening_1.jpg"
          alt="Cityscapes"
        />
      </div>
      <div class="text">Cityscapes</div>
    </div>
  </div>

  <!-- <div class="gallery-container w-2 h-2">
    <div class="gallery-item">
      <div class="image">
        <img src="assets/photos/animals/varpuspollo.jpg" alt="Varpuspöllö" />
      </div>
      <div class="text">Animals</div>
    </div>
  </div>

  <div class="gallery-container w-2 h-2">
    <div class="gallery-item">
      <div class="image">
        <img src="assets/photos/military/f-35_1.jpg" alt="F-35" />
      </div>
      <div class="text">Military</div>
    </div>
  </div> -->

  <div class="gallery-container w-2 h-2">
    <div class="gallery-item">
      <div class="image">
        <img src="assets/photos/abandoned/inkoo_ship.jpg" alt="Abandoned" />
      </div>
      <div class="text">Abandoned</div>
    </div>
  </div>
</div>
