<div id="container">
  <div class="left-column">
    <h1>Curriculum Vitae</h1>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi quo
      similique ullam accusamus sint numquam quasi velit in sit tenetur modi
      ipsum, dolor distinctio voluptatibus, quaerat voluptatum eligendi nostrum
      pariatur. Adipisci voluptatibus libero delectus, praesentium rem
      architecto autem maiores eligendi aliquam error ipsum tempora suscipit
      voluptatem cum nobis modi laudantium et at quis sed sit sint iste
      officiis. Quaerat tempora enim non consequatur sapiente, cumque in amet!
      Praesentium vel, reprehenderit excepturi, voluptate natus, commodi vero
      adipisci consequatur minus consectetur id non quidem magnam doloremque rem
      debitis impedit iste quo? Repudiandae quae iure eaque et provident
      quisquam explicabo, mollitia sequi numquam?
    </p>
  </div>
  <div id="divider"></div>

  <div class="right-column">
    <br /><br />
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae corrupti
      facilis totam dicta sint repellat, culpa, sit optio officia asperiores
      quod! Sed, architecto sint. Assumenda deleniti voluptas vero quo! Qui!
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam culpa
      atque accusantium modi eaque sapiente doloribus iste maxime quidem
      reprehenderit dolor non officiis enim exercitationem inventore magnam
      fugit, deserunt animi eum ducimus. Commodi culpa vero possimus enim
      voluptate, soluta aliquid, ipsam ratione quasi et officiis. Sint,
      excepturi eum. Porro qui nostrum vero dolorem, eum exercitationem, eos
      nesciunt distinctio laboriosam repellendus vel fugiat eligendi expedita
      nisi similique at adipisci voluptas quam illo placeat voluptate? Fugiat
      aliquid ipsam rem laudantium distinctio totam impedit facilis laborum
      doloribus asperiores quo voluptate omnis, nihil harum enim maxime esse
      incidunt, iusto quam, facere doloremque minima ipsa quidem. Eveniet,
      tempora ad delectus atque neque magnam cumque laudantium dolorem commodi
      obcaecati numquam veniam dicta similique? Quidem culpa eos dolores nemo
      eveniet eius recusandae voluptates at alias perferendis, ut reiciendis
      error quia laudantium quasi vitae, illo, aut qui tempora sequi. Maxime
      assumenda nisi quaerat dolorum possimus, obcaecati mollitia a eius
      perferendis amet non culpa adipisci, tempore itaque velit dignissimos, ea
      iusto nam nihil eligendi provident? A, culpa consequatur eaque, enim
      adipisci omnis mollitia totam nisi beatae necessitatibus, ea tempore.
      Perferendis commodi, vitae minima consectetur aspernatur mollitia omnis.
      At similique quod nam cum consectetur maxime iste labore, possimus
      voluptas perspiciatis obcaecati alias quaerat minus minima, sapiente
      debitis dolor commodi voluptatum tempora reprehenderit iure! Provident est
      vero nobis in veritatis ipsam laborum dicta. Voluptas modi nihil ad
      impedit. Voluptatibus aliquid consequuntur, quidem eius debitis explicabo
      odit commodi doloremque modi, quibusdam aliquam velit fugit veniam soluta
      adipisci porro corrupti ad quod eveniet ducimus accusamus vitae sunt amet!
      Facilis, officia cum eum iste vel quisquam porro, quaerat culpa maxime
      aperiam odio aliquid placeat quas nemo. Sapiente ab labore, error quis
      voluptates, ut unde eveniet autem aperiam quasi odit similique voluptas
      ratione consequuntur. Consectetur omnis provident illum animi. Mollitia
      ratione necessitatibus repudiandae consectetur quod quam voluptates itaque
      beatae quibusdam ut ducimus quas eius, esse reprehenderit consequuntur,
      ipsam facilis maiores, velit qui iusto similique cumque ipsum assumenda!
      Doloremque ipsum quaerat nobis. Ad reprehenderit consectetur, ea pariatur
      facere doloribus commodi autem nostrum voluptas sapiente ratione qui
      laborum, dignissimos praesentium omnis facilis mollitia, earum neque quod
      aut explicabo! Commodi dolores accusantium fugiat aliquid natus nobis
      tenetur reiciendis est iste, debitis dolorem sed quod odit. Architecto
      aliquam excepturi eligendi. Aperiam amet numquam eos dolorum excepturi
      iusto nobis voluptates est repellendus animi facilis cupiditate
      exercitationem dignissimos eveniet officia officiis, quaerat temporibus
      perferendis? Maiores qui reiciendis consectetur ad quod? Sequi voluptates
      adipisci numquam, et libero, aliquam nesciunt labore eius reiciendis
      temporibus, tempore magni accusantium cum rerum animi necessitatibus.
      Quod, omnis corporis? Quis qui molestiae, ipsa temporibus cum nulla
    </p>
  </div>
</div>
