<div id="container">
  <div class="left-column">
    <h1>Welcome to my website</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas rerum
      molestias dolore autem ducimus optio sint expedita iste id velit hic
      voluptatem aspernatur fugiat a tempora, possimus excepturi beatae sunt
      dicta accusamus voluptatibus iusto doloribus nobis. Odio maiores
      reprehenderit ipsam nisi repudiandae? Quidem id sequi ullam quos, minima
      sunt et.
    </p>
  </div>
  <div id="divider"></div>

  <div class="right-column">
    <br /><br />
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae corrupti
      facilis totam dicta sint repellat, culpa, sit optio officia asperiores
      quod! Sed, architecto sint. Assumenda deleniti voluptas vero quo! Qui!
    </p>
  </div>
</div>
