<body>
  <div class="wrapper">
    <div class="sideBar">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia omnis
      perferendis quo quasi odio veniam voluptatem animi earum quam aut.
    </div>
    <div class="mainContent">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nihil,
      cum neque rerum nam minus et totam optio ratione fugit amet iusto pariatur
      assumenda iure aspernatur deserunt! Ut commodi reiciendis sed laboriosam
      temporibus ipsam soluta esse at asperiores! Debitis magni illo aut
      obcaecati quibusdam iusto eveniet amet magnam veniam error.
    </div>
  </div>
</body>
