<body>
  <!-- Routed views go here -->
  <div class="wrapper">
    <!-- If stops working, change back to: 
    <div *ngIf="!isTruthy" class="background-image"></div> -->

    <div *ngIf="elementHome && !isTruthy" class="background-image-1"></div>
    <div *ngIf="elementHome && isTruthy" class="background-image-blur-1"></div>

    <div *ngIf="elementCV && !isTruthy" class="background-image-2"></div>
    <div *ngIf="elementCV && isTruthy" class="background-image-blur-2"></div>

    <div
      *ngIf="elementPhotography && !isTruthy"
      class="background-image-4"
    ></div>
    <div
      *ngIf="elementPhotography && isTruthy"
      class="background-image-blur-4"
    ></div>

    <div *ngIf="elementContact && !isTruthy" class="background-image-3"></div>
    <div
      *ngIf="elementContact && isTruthy"
      class="background-image-blur-3"
    ></div>

    <header></header>

    <section class="sidebar-left"></section>
    <section class="sidebar-right"></section>

    <footer></footer>
    <!-- If stops working, change to:
         (click)="viewSection()" -->
    <nav class="nav-bar" #navBarElement>
      <ul id="nav-bar-ul">
        <li>
          <a
            id="home"
            routerLink="/home"
            routerLinkActive="active"
            (click)="changeHomeBackground()"
            >Home</a
          >
        </li>
        <li>
          <a
            id="cv"
            routerLink="/cv"
            routerLinkActive="active"
            (click)="changeCVBackground()"
            >CV</a
          >
        </li>
        <li>
          <a
            id="photography"
            routerLink="/photography"
            routerLinkActive="active"
            (click)="changePhotographyBackground()"
            >Photography</a
          >
        </li>
        <li>
          <a
            id="contact"
            routerLink="/contact"
            routerLinkActive="active"
            (click)="changeContactBackground()"
            >Contact</a
          >
        </li>
      </ul>
    </nav>
    <!-- Refers to viewSection -method in ts-file -->
    <main *ngIf="isTruthy" #mainContentElement>
      <router-outlet></router-outlet>
    </main>
  </div>
</body>
