body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Beginning of grid definition */

.wrapper {
  height: 100%;
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
    "header header header header header header header header header header header header"
    "sidebar-left main main main main main main main main main main sidebar-right"
    "sidebar-left main main main main main main main main main main sidebar-right"
    "sidebar-left main main main main main main main main main main sidebar-right"
    "sidebar-left main main main main main main main main main main sidebar-right"
    "sidebar-left main main main main main main main main main main sidebar-right"
    "sidebar-left main main main main main main main main main main sidebar-right"
    "sidebar-left main main main main main main main main main main sidebar-right"
    "sidebar-left main main main main main main main main main main sidebar-right"
    "sidebar-left main main main main main main main main main main sidebar-right"
    "sidebar-left main main main main main main main main main main sidebar-right"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}

section:nth-of-type(1) {
  grid-area: sidebar-left;
}

section:nth-of-type(2) {
  grid-area: sidebar-right;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* End of grid definition */

#background-image {
  grid-column: 1/13;
  grid-row: 1/13;
  background-image: url("../assets/background_3.jpg");
  height: 100vh;
  overflow: clip; /* Was "clip" */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  z-index: -1;
}

/* Dark box with main content */
#container {
  grid-column: 1/12;
  grid-row: 1/12;
  height: 100%;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  text-align: left;
}

/* Navigation bar */

.nav-bar ul li a {
  display: flex;
  justify-content: right;
  margin-bottom: 10%;
  padding: 10%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-decoration: none;
  transition: 0.4s;
}

.nav-bar ul li a:hover {
  background-color: rgba(82, 82, 82, 0.7);
}

.nav-bar ul li a:active {
  background-color: rgba(82, 82, 82, 0.3);
}

@media screen and (max-width: 768px) {
}
