body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Beginning of grid definition */

.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
    "header header header header header header header header header header header header"
    "sidebar-left main main main main main main main main main main sidebar-right"
    "sidebar-left main main main main main main main main main main sidebar-right"
    "sidebar-left main main main main main main main main main main sidebar-right"
    "sidebar-left main main main main main main main main main main sidebar-right"
    "sidebar-left main main main main main main main main main main sidebar-right"
    "sidebar-left main main main main main main main main main main sidebar-right"
    "sidebar-left main main main main main main main main main main sidebar-right"
    "sidebar-left main main main main main main main main main main sidebar-right"
    "sidebar-left main main main main main main main main main main sidebar-right"
    "sidebar-left main main main main main main main main main main sidebar-right"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}

section:nth-of-type(1) {
  grid-area: sidebar-left;
}

section:nth-of-type(2) {
  grid-area: sidebar-right;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

footer {
  grid-area: footer;
}

.wrapper > * {
  display: grid;
}

/* End of grid definition */

/* Start of background images */

.background-image-4 {
  grid-column: 1/13;
  grid-row: 1/13;
  background-image: url("../assets/background_6.jpg");
  height: 100vh;
  overflow: clip; /* Was "clip" */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  animation-name: blur-out;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

.background-image-blur-4 {
  grid-column: 1/13;
  grid-row: 1/13;
  background-image: url("../assets/background_6.jpg");
  height: 100vh;
  overflow: clip; /* Was "clip" */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: blur-in;
  animation-duration: 0.05s;
  animation-fill-mode: forwards;
  z-index: -1;
}

.background-image-3 {
  grid-column: 1/13;
  grid-row: 1/13;
  background-image: url("../assets/background_5.jpg");
  height: 100vh;
  overflow: clip; /* Was "clip" */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  animation-name: blur-out;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

.background-image-blur-3 {
  grid-column: 1/13;
  grid-row: 1/13;
  background-image: url("../assets/background_5.jpg");
  height: 100vh;
  overflow: clip; /* Was "clip" */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: blur-in;
  animation-duration: 0.05s;
  animation-fill-mode: forwards;
  z-index: -1;
}

.background-image-2 {
  grid-column: 1/13;
  grid-row: 1/13;
  background-image: url("../assets/background_1.jpg");
  height: 100vh;
  overflow: clip; /* Was "clip" */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  animation-name: blur-out;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

.background-image-blur-2 {
  grid-column: 1/13;
  grid-row: 1/13;
  background-image: url("../assets/background_1.jpg");
  height: 100vh;
  overflow: clip; /* Was "clip" */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: blur-in;
  animation-duration: 0.05s;
  animation-fill-mode: forwards;
  z-index: -1;
}
.background-image-1 {
  grid-column: 1/13;
  grid-row: 1/13;
  background-image: url("../assets/background_4.jpg");
  height: 100vh;
  overflow: clip; /* Was "clip" */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  animation-name: blur-out;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

.background-image-blur-1 {
  grid-column: 1/13;
  grid-row: 1/13;
  background-image: url("../assets/background_4.jpg");
  height: 100vh;
  overflow: clip; /* Was "clip" */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: blur-in;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  z-index: -1;
}

/* Animation settings for blur */

@keyframes blur-in {
  0% {
    -webkit-filter: blur(0px);
  }
  15% {
    -webkit-filter: blur(1px);
  }

  25% {
    -webkit-filter: blur(2px);
  }

  50% {
    -webkit-filter: blur(3px);
  }

  75% {
    -webkit-filter: blur(4px);
  }

  100% {
    -webkit-filter: blur(6px);
  }
}

@keyframes blur-out {
  0% {
    -webkit-filter: blur(6px);
  }
  15% {
    -webkit-filter: blur(5px);
  }

  25% {
    -webkit-filter: blur(4px);
  }

  50% {
    -webkit-filter: blur(3px);
  }

  75% {
    -webkit-filter: blur(2px);
  }

  100% {
    -webkit-filter: blur(0px);
  }
}

/* Dark box with main content */
#container {
  display: grid;
  height: 100%;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  text-align: left;
  padding-top: 2%;
  padding-bottom: 2%;
}

.left-column {
  grid-row: 1 / 12;
  grid-column: 2 / 7;
  padding-left: 2%;
  padding-right: 2%;
}

.right-column {
  grid-row: 1 / 12;
  grid-column: 7 / 12;
  padding-left: 2%;
  padding-right: 2%;
}

#divider {
  grid-row: 1/12;
  grid-column: 6 / 8;
  border: #fff 1px solid;
}

/* Navigation bar */

.nav-bar {
  grid-row: 2 / 2;
  grid-column: 1 / 1;
  padding-right: 5%;
}

.nav-bar ul li a {
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
  justify-content: right;
  margin-bottom: 10%;
  padding: 10%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-decoration: none;
  transition: 0.4s;
  font-size: 1.8rem;
}

.nav-bar ul li a:hover {
  background-color: rgba(82, 82, 82, 0.7);
}

router-outlet {
  height: 0%;
}

@media screen and (max-width: 768px) {
  .nav-bar {
    grid-row: 1;
    grid-column: 2/12;
    padding-right: 0%;
  }

  .nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .nav-bar ul li {
    width: 30%;
    height: 20%;
    padding-top: 3%;
  }

  .nav-bar ul li a {
    justify-content: center;
  }

  .left-column {
    grid-row: auto;
    grid-column: 2 / 12;
    padding-left: 2%;
    padding-right: 2%;
  }

  #divider {
    display: none;
  }

  .right-column {
    grid-row: auto;
    grid-column: 2 / 12;
    padding-left: 2%;
    padding-right: 2%;
  }

  main {
    grid-column: 2/12;
    margin: 0%;
  }
}
