<body>
  <div class="wrapper">
    <div id="background-image"></div>
    <header></header>
    <section></section>
    <main>
      <div id="container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
        dicta sit laboriosam quibusdam similique quod atque porro, beatae dolore
        eius ipsum culpa accusamus vero dignissimos officia architecto
        voluptatibus quia. Consequatur?
      </div>
    </main>
    <section></section>
    <footer></footer>
  </div>
</body>
