<body>
  <router-outlet></router-outlet>
  <div class="wrapper">
    <div id="background-image"></div>
    <header></header>
    <section class="sidebar-left"></section>

    <section class="sidebar-right"></section>
    <footer></footer>

    <nav class="nav-bar">
      <ul id="nav-bar-ul">
        <li><a id="home" routerLink="['home']">Home</a></li>
        <li><a id="cv" routerLink="['CV']">CV</a></li>
        <li><a id="contact" routerLink="['Contact']">Contact</a></li>
      </ul>
    </nav>
  </div>
</body>
