<div id="container">
  <div id="back">&lt;</div>
  <div id="imageContainer">
    <div class="gallery-container w-4 h-2">
      <div class="gallery-item">
        <div class="image">
          <img
            src="assets/photos/nature/a_calm_morning.jpg"
            alt="A calmn morning"
          />
        </div>
      </div>
    </div>

    <div class="gallery-container w-5 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="assets/photos/nature/hauhia.jpg" alt="Hauhia, Miehikkälä" />
        </div>
      </div>
    </div>

    <div class="gallery-container w-2 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="assets/photos/nature/aurora_1.jpg" alt="Aurora" />
        </div>
      </div>
    </div>

    <div class="gallery-container w-2 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="assets/photos/nature/aurora_2.jpg" alt="Aurora" />
        </div>
      </div>
    </div>

    <div class="gallery-container w-1 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="assets/photos/nature/aurora_3.jpg" alt="Aurora" />
        </div>
      </div>
    </div>

    <div class="gallery-container w-2 h-2">
      <div class="gallery-item">
        <div class="image">
          <img
            src="assets/photos/nature/porkkalanniemi.jpg"
            alt="Porkkalanniemi"
          />
        </div>
      </div>
    </div>

    <div class="gallery-container w-3 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="assets/photos/nature/himankirkko_1.jpg" alt="Himankirkko" />
        </div>
      </div>
    </div>

    <div class="gallery-container w-3 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="assets/photos/nature/ice_and_moss.jpg" alt="Ice and moss" />
        </div>
      </div>
    </div>

    <div class="gallery-container w-2 h-2">
      <div class="gallery-item">
        <div class="image">
          <img
            src="assets/photos/nature/paavolan_tammi.jpg"
            alt="Paavolan tammi"
          />
        </div>
      </div>
    </div>
  </div>
</div>
