<!-- <app-home></app-home> -->
<body>
  <!-- Background on wrapperin ulkopuolella -->
  <div id="background-image"></div>
  <div class="wrapper">
    <div id="mySideNavBar" class="sideNavBar">
      <a id="home" routerLink="['home']">Home</a>
      <a id="cv" routerLink="['CV']">CV</a>
      <a id="contact" routerLink="['Contact']">Contact</a>
    </div>

    <div id="container">
      <div class="leftColumn">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
        beatae tempora, dolore sint recusandae repellendus aspernatur sit alias
        cupiditate earum temporibus nesciunt suscipit dolor saepe? Aut deleniti
        necessitatibus, hic ea nisi cupiditate quo nesciunt impedit, laborum
        rerum architecto nulla earum voluptatem quis fugiat ducimus, mollitia
        ullam! Soluta numquam culpa quasi iure! Fugiat, doloremque. Aspernatur
        exercitationem dolorem numquam facere suscipit, quis doloribus veritatis
        doloremque id! Atque dolor quis aspernatur. Quas laudantium natus harum
        cum illum. Delectus veritatis beatae ut. Aliquam, facilis, assumenda in
        quisquam unde ut neque sed magni repellendus ab delectus sit vel! Harum,
        ullam? Error atque odit deleniti totam modi quisquam aspernatur dolorum
        consequatur et ratione dolor, reiciendis optio in dolore corrupti,
        dolorem perspiciatis quasi ab a! Vitae inventore fugit iste at incidunt
        nam ratione ducimus, ullam, tempora nisi illum recusandae dicta
        dignissimos, suscipit maiores numquam? Exercitationem quaerat, quod modi
        adipisci, hic quas molestiae aspernatur labore illum porro enim
        perspiciatis fuga cum repellendus quam magni nostrum consequatur at sit
        quo fugit repudiandae ratione? Maiores, inventore. Incidunt veniam neque
        at a autem doloribus modi architecto aperiam eum? Amet quaerat sit
        itaque nam quis tempore, voluptatibus qui perspiciatis facilis id
        officiis unde quo aliquam quam maiores mollitia, est architecto minima
        voluptatum assumenda hic quia necessitatibus modi ipsam. Officiis
        corporis fuga neque dolor, adipisci nostrum dignissimos in provident cum
        saepe minus velit beatae porro consequatur ratione? Minima, nesciunt
        nihil. Atque possimus ut quae velit quas, quasi quibusdam accusantium
        earum nostrum pariatur eveniet cum quo facere reprehenderit aut,
        explicabo, ipsam illum! Totam doloremque magnam consequatur sint
        perferendis blanditiis facere. Facere reprehenderit sed molestias porro
        quaerat, optio nostrum doloremque aliquam perspiciatis dolor.
        Repellendus cupiditate aperiam commodi, officiis a recusandae sit
        facilis fugiat dignissimos. Quis eaque, soluta sint deleniti esse error
        tempora mollitia quibusdam, atque enim eius culpa recusandae quasi
        expedita molestiae, facilis provident? Rem totam odit sint repellendus,
        dolor accusamus aspernatur dicta, est impedit, vero voluptatum in saepe!
        Repudiandae illum impedit tempora officia a iste sed? Explicabo nihil a
        molestias excepturi, minus iusto id laudantium illo in blanditiis ea.
        Culpa fuga reprehenderit labore maxime iusto, recusandae quas rem. Aut,
        voluptatem nobis est ipsa quod repellendus nihil esse placeat eius
        quaerat, magni facilis. Est fugiat quam, eveniet natus molestiae totam
        unde doloremque animi dolore praesentium autem, dignissimos laborum
        alias quos corporis aliquid. Officia unde vero tenetur, amet eum esse
        excepturi cupiditate culpa, facilis, ex porro minima quidem sed ad
        laboriosam voluptates maiores. Quos dolore similique ut, ducimus
        blanditiis molestias quisquam alias a molestiae sed consequuntur error,
        tempore eius nihil dignissimos nam cum? Officiis assumenda optio
        aspernatur dolorum voluptates quas soluta velit, expedita eum aliquid
        facere voluptatum animi hic earum blanditiis explicabo. Et aliquam
        explicabo esse omnis expedita vero laboriosam provident sit. Recusandae
        iste tempore architecto veniam exercitationem, eligendi unde alias
        consequatur deleniti voluptatem ipsa repellendus fugiat quas fuga ipsam
        repudiandae sequi maiores at blanditiis, ipsum nesciunt. Inventore,
        tempora asperiores doloremque dolor quasi adipisci corrupti commodi
        temporibus architecto cum dolorem, debitis eum perferendis? Aperiam
        officiis libero quia reprehenderit asperiores minima sed laboriosam
        velit ex! Consectetur, numquam!
      </div>
      <div class="rightColumn">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab sunt
        explicabo soluta ad quod fugit consequatur dolores, adipisci vero, qui,
        repudiandae ullam! Dicta deserunt consectetur sequi similique mollitia
        ducimus molestias odit dignissimos quas saepe quod exercitationem
        aliquid, facilis nesciunt fugit dolorem nostrum veritatis rerum
        voluptatibus harum ratione cupiditate necessitatibus iste doloribus?
        Enim architecto commodi quos modi, animi minima velit debitis
        consequatur molestiae pariatur? Quisquam cum voluptas dolor temporibus,
        aliquam accusantium minus non consectetur placeat similique! Voluptatum
        facere magni autem dolorum ad asperiores nesciunt iure exercitationem,
        quas, veritatis voluptates fugiat voluptatibus ipsa animi magnam, totam
        maxime beatae mollitia doloremque incidunt necessitatibus repellendus
        earum. Aperiam pariatur nisi expedita architecto quae, quibusdam quasi
        magni, asperiores, ab quaerat quo saepe fugiat ratione! Laudantium,
        voluptas. Fugiat quam repudiandae expedita ut quis adipisci eius quod
        culpa illo. Velit voluptate provident, distinctio repellendus temporibus
        nulla tempora quibusdam dignissimos impedit aut corrupti. Recusandae
        maxime libero, voluptatem veritatis saepe suscipit nihil temporibus
        beatae perspiciatis ea dignissimos possimus at sint fuga voluptatum?
        Molestiae ratione optio magnam illum aliquam voluptatem. Eveniet
        incidunt eligendi optio. Id rerum eligendi voluptas qui maxime itaque,
        repellendus velit corporis voluptatibus incidunt ullam, adipisci quia
        voluptatem facilis ipsa numquam dolores ipsum? Expedita modi delectus
        cumque assumenda fugit vel voluptatibus illum repellendus voluptatum,
        obcaecati ut? Nihil eligendi, vero libero recusandae dolorem numquam
        dolor quam ad ex quia non. Sint vel doloremque, officia tenetur
        molestiae nobis veniam, laudantium ullam aliquid nemo tempora maxime sed
        corrupti totam dolorum nihil possimus minima fugiat ipsa illo
        asperiores? Porro aliquam odit consequatur sapiente sed? Velit alias
        modi, veritatis voluptas, labore, nisi similique voluptate natus rem
        aliquam saepe libero? Sunt distinctio accusamus ad illum impedit
        doloribus recusandae, ipsa delectus laudantium possimus id vitae
        consequuntur molestias fugit corrupti dolorem nobis est veniam quaerat
        minus! Vitae tempora quaerat qui culpa alias voluptate suscipit itaque
        unde. Similique. Lorem ipsum dolor sit, amet consectetur adipisicing
        elit. Veniam, minus odit consequatur earum numquam nihil laboriosam
        tempore tenetur quam, cum illum animi soluta itaque, impedit facilis
        saepe in error ipsum eveniet! Dignissimos facilis earum ipsum expedita,
        modi amet iusto corrupti magnam deleniti animi corporis eius
        reprehenderit molestias esse voluptatibus minus voluptate delectus illum
        sit tempore necessitatibus reiciendis. Asperiores, voluptates odit
        reiciendis labore dignissimos debitis laborum, magni doloribus mollitia,
        sunt consequatur. Quaerat porro illo voluptatibus quos commodi officia
        nemo alias, corrupti temporibus suscipit repudiandae quas expedita,
        tempora rerum quibusdam similique perferendis quis natus ad optio rem
        repellendus! Minus maxime ab nemo unde perferendis eum magnam quidem,
        cupiditate necessitatibus libero ipsum iure ad! Repudiandae quasi rem
        quam veritatis vitae, aspernatur at suscipit error, necessitatibus
        laudantium aliquam nostrum libero eaque illum? Asperiores voluptate
        possimus quasi fugit nobis accusantium dolor minus totam molestiae eius
        optio, quidem sequi rem odit ipsa blanditiis neque atque dolorum illo
        modi tempore. Qui numquam quas rem quaerat recusandae reprehenderit,
        officiis illo ipsa nisi velit magnam facilis, repellendus voluptatem
        temporibus unde itaque nihil mollitia. Tempore ut natus asperiores
        eligendi ullam iusto, itaque similique alias unde debitis, aut quos
        ratione ipsa, illo reprehenderit id quasi modi libero. Quis, harum
        officiis quibusdam animi asperiores
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</body>
