/* Mobile settings */
@media only screen and (max-width: 1680px) {
  .wrapper {
    font-style: italic;
    display: grid;
    grid-template-rows: 5% 95%;
    grid-template-columns: 25% 25% 25% 25%;
  }

  .wrapper #container {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 90%;
    padding: 10px;
    text-align: left;
  }

  /* Upper column */
  #container .leftColumn {
    width: 100%;
    float: inline-start;
  }

  /* Lower column */
  #container .rightColumn {
    width: 100%;
    float: inline-end;
    padding-top: 5px;
    border-top-color: #fff;
    border-top-width: 2px;
    border-top-style: solid;

    border-left-width: 0px;
    border-left-style: solid;
  }

  /* Navbar mobile */

  .wrapper #mySideNavBar a {
    position: absolute;
    transition: 0.4s;
    padding: 10px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    border-radius: 0 0 0 0;
  }

  .wrapper #mySideNavBar a:hover {
    background-color: rgb(82, 82, 82);
  }

  .wrapper #home {
    top: 8.5%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: right;
  }

  .wrapper #cv {
    top: 13.5%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: right;
  }

  .wrapper #contact {
    top: 18.5%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: right;
  }
}
/* Desktop settings */

body {
  height: 100vh;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: 5% 95%;
}

/* Background */

#background-image {
  /* background-image: url("../assets/background_3.jpg"); */
  height: 100%;
  overflow: clip; /* Was "hidden" */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

/* Container */

#container {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  height: 80%;
  padding: 20px;
  text-align: left;
}

.leftColumn {
  width: 49%;
  float: left;
}

.rightColumn {
  width: 49%;
  float: right;
  padding-left: 20px;
  border-left-color: #fff;
  border-left-width: 2px;
  border-left-style: solid;
}

/* NavBar */

#mySideNavBar a {
  position: absolute;
  transition: 0.4s;
  padding: 10px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  border-radius: 0 0 0 0;
}

#mySideNavBar a:hover {
  background-color: rgb(82, 82, 82);
}

#home {
  top: 8.5%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: right;
}

#cv {
  top: 13.5%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: right;
}

#contact {
  top: 18.5%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: right;
}
