<div id="container">
  <div class="left-column">
    <h1>Welcome to my website!</h1>
    <h2>Who am I?</h2>

    <p>
      My name is Markus. I'm a {{ age }} years old aspiring web developer from
      Vantaa, Finland. On this website you will find information about me and my
      interests.
    </p>

    <p>Feel free to contact me regarding any subject.</p>
    <img
      id="profile"
      src="assets/profiilikuva_square.jpg"
      alt="profile image"
    />
  </div>
  <div id="divider"></div>

  <div class="right-column">
    <h2 id="topRight">Hobbies and interests</h2>
    <p>
      My hobbies among others include photography, PC-gaming and disc golf. I'm
      also an avid cyclist and nature-goer. I have a passion for cooking and
      good food and drink.
    </p>

    <p>
      You can view some of my photographs on the "Photography" -section of this
      site. A more comprehensive - and less carefully selected - collection can
      be viewed at
      <a
        class="hyperLink"
        href="https://www.flickr.com/mhauhia/"
        target="_blank"
        >my flickr-page</a
      >
    </p>

    <p>
      Outside of my regular interests as a hobbyist photographer, I'm also
      experienced in real estate photography. Check out my portfolio and feel
      free to contact me, if you are in search for a real estate photographer.
    </p>
  </div>
</div>
